<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf hi world</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	
	<h3>List of Employees</h3><hr>
	
	<table border="1">
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${listEmployees}">
				<td th:text="${tempEmployee.firstName}" />
				<td th:text="${tempEmployee.lastName}" />
				<td th:text="${tempEmployee.email}" />
			</tr>
		</tbody>
	</table>	

</body>

</html>